@import "colors";

html {
	font-family: "A1ゴシック M", A1 Gothic M, sans-serif;
	color: $text-color;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-size: max(16px, 1.5vw);
	width: 100%;
	overflow-x: hidden;
}

html,
body {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

a {
	color: $text-color;
	cursor: pointer;
}

h1,
h2 {
	color: $title-color;
	font-family: "ぺんぱる", Penpal, sans-serif;
}

@keyframes balloon-scroll-top {
	0% {
		margin-top: 0;
	}

	100% {
		margin-top: 2vh;
	}
}

@keyframes balloon-nav {
	0% {
		margin-top: 0;
	}

	100% {
		margin-top: 0.5vmin;
	}
}

.balloon {
	animation: balloon-nav 2s ease-in-out infinite alternate;

	&:nth-child(2n + 1) {
		animation-delay: 2s;
	}
}
